doctype html
html(lang='en')
    head
        title Qiri Casus
        style   
            include ./css/bootstrap.css
        script(src='./js/bootstrap.js')
    body
        .container
            //header
            .row
                .head
                    <link rel="icon" href="https://sellvation.nl/wp-content/uploads/2021/07/favicon.ico" sizes="192x192" />
                    .col-md-12
                        img(src="https://sellvation.nl/wp-content/uploads/2021/01/Logo-Sellvation.svg")      
            //Orderlines
            if products.length > 0
                .row   
                    .col-md-12
                        .card
                            h5.card-heading Products
                            .card-devider 
                                .table-responsive
                                    table.table
                                        th  SKU
                                        th  Name
                                        th  List Price 
                                        each product in products
                                            tr 
                                                td #{product.sku}
                                                td #{product.name}
                                                td #{product.list_price}
                            
                                

